<h3>DISPOSITIONS GENERALES</h3>
<p>Le locataire ne pourra en aucune circonstance se prévaloir d’un quelconque droit au maintien dans les lieux à l’expiration de la période de location initialement prévue sur le présent contrat, sauf accord du propriétaire.</p>
<p>Aucune modification ne sera acceptée dans la rédaction du contrat sans l’accord des deux parties.</p>
<p>Le propriétaire s’engage à ne divulguer à aucun tiers les informations de quelque nature que ce soit, sur quelque support que ce soit, que le locataire aura été amené à lui donner à l’occasion de l’exécution du présent contrat.</p>
<p>Ces dernières dispositions ne sont toutefois pas applicables s’agissant des demandes de renseignements qui seraient formulées par les administrations et/ou les Tribunaux.</p>

<h3>PAIEMENT</h3>
<p>La réservation deviendra effective dès lors que le locataire aura retourné un exemplaire du présent contrat accompagné du montant des arrhes, avant la date indiquée au verso et que le propriétaire aura notifié la bonne réception du contrat.</p>
<p>Le solde de la location sera versé le jour de l’arrivée.</p>

<h3>UTILISATION DES LIEUX</h3>
<p>À son départ, le locataire s’engage à rendre la location aussi propre qu’il l’aura trouvée à son arrivée, sauf s’il a opté pour le forfait ménage.</p>
<p>L’ensemble du matériel devra être remis à la place qu’il occupait lors de l’entrée dans les lieux.</p>
<p>Toutes réparations, quelle qu’en soit l’importance, rendues nécessaires par la négligence du locataire en cours de location seront à sa charge.</p>
<p>L’installation de tentes ou le stationnement de caravanes sur le terrain de la propriété louée est interdit.</p>
<p>Le propriétaire fournira le logement conforme à la description qu’il en a faite et le maintiendra en état de servir. En règle générale, le locataire quitte les lieux à l’heure prévue au contrat ou à une heure convenant au propriétaire, après état des lieux.</p>

<h3>CAS PARTICULIERS</h3>
<p>Le nombre de locataires ne peut pas être supérieur à la capacité d’accueil, soit 15 personnes. À titre exceptionnel et sous réserve de l’accord du propriétaire, il pourra être dérogé à cette règle.</p>

<h3>CONDITIONS DE RESILIATION</h3>
<p>a) Résiliation à l’initiative du locataire :</p>
<ul>
  <li>Lorsque la résiliation intervient dans les 60 jours avant l’entrée dans les lieux, le propriétaire restitue dans les 30 jours de la résiliation l’intégralité du montant des arrhes versées par le locataire.</li>
  <li>Si cette résiliation intervient dans un délai inférieur à 60 jours avant l’entrée dans les lieux, le propriétaire conserve l’intégralité du montant des arrhes versées par le locataire.</li>
</ul>
<p>b) si le locataire ne s’est pas présenté le jour mentionné sur le contrat dans un délai de 12H et sans avis notifié du propriétaire :</p>
<ul>
  <li>Le présent contrat est considéré comme résilié</li>
  <li>Les arrhes restent acquises au propriétaire</li>
  <li>Le propriétaire peut disposer de sa location</li>
</ul>
<p>c) résiliation à l’initiative du propriétaire :</p>
<ul>
  <li>Avant l’entrée dans les lieux :</li>
</ul>
<p>En cas de résiliation du présent contrat dans les 60 jours avant l’entrée dans les lieux, pour quelque cause que ce soit, le propriétaire reversera au locataire l'intégralité du montant des arrhes reçues. Cette restitution sera adressée au locataire dans un délai de 15 jours à compter de la notification de la résiliation.</p>
<p>Si cette résiliation intervient dans un délai inférieur à 60 jours, le propriétaire versera au locataire le double du montant des arrhes reçues. Cette restitution sera adressée au locataire dans un délai de 15 jours à compter de la notification de la résiliation.</p>
<ul>
  <li>Après l’entrée dans les lieux :</li>
</ul>
<p>Lorsque la résiliation du contrat par le propriétaire intervient pendant la durée de la location, elle doit être dûment justifiée (défaut de paiement du loyer, chèque sans provision émis par le locataire, détérioration avérée des lieux loués, plaintes du voisinage…). Cette résiliation entraîne le départ immédiat du locataire. Le propriétaire se réserve le droit de conserver le montant du dépôt de garantie dans les conditions précisées au paragraphe « dépôt de garantie ». Quelle que soit la cause de la résiliation, l’intégralité du montant de loyers demeure acquise au propriétaire.</p>

<h3>INTERRUPTION DU SEJOUR</h3>
<p>En cas d’interruption du séjour par le locataire, et si la responsabilité du propriétaire n’est pas remise en cause, il ne sera procédé à aucun remboursement hormis le dépôt de garantie.</p>

<h3>ASSURANCES</h3>
<p>Le locataire est tenu d’assurer le local qui lui est confié ou loué. Il doit donc vérifier que son contrat d’habitation principale prévoit l’extension villégiature (location de vacances). Dans l’hypothèse contraire, il doit intervenir auprès de sa compagnie d’assurances et lui réclamer l’extension de la garantie ou bien souscrire un contrat particulier, au titre de clause « villégiature ».</p>
<p>Une attestation d’assurances pourra être réclamée à l’entrée dans les locaux ou, à défaut, une déclaration sur l’honneur.</p>

<h3>LITIGES OU RECLAMATIONS</h3>
<p>Pour les litiges qui naîtraient de l’exécution ou de l’interruption du présent contrat, seuls les Tribunaux du ressort du lieu de l’immeuble objet de la location sont compétents.</p>
